<div class='panel panel-primary' *ngIf='country'>
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle + ': ' + country.geonames[0].countryName}}
    </div>

    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'>Country Name:</div>
                    <div class='col-md-6'>{{country.geonames[0].countryName}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>countryCode:</div>
                    <div class='col-md-6'>{{country.geonames[0].countryCode}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>continent:</div>
                    <div class='col-md-6'>{{country.geonames[0].continent}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>areaInSqKm:</div>
                    <div class='col-md-6'>{{country.geonames[0].areaInSqKm | number}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>population:</div>
                    <div class='col-md-6'>{{country.geonames[0].population | number}}</div>
                </div>
            </div>

           
        </div>
    </div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
</div>